//  WELCOMESCREEN SECTION ---------------------------- // 
.welcomescreen {
    position: relative;
    height: 100vh;
    min-height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 5%;

    &:after {
        position: absolute;
        z-index: -1;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
}

.welcomescreen__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    video,
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.welcomescreen__wrapper {
    max-width: 790px;
}

.welcomescreen__title h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.welcomescreen__descr {
    margin-bottom: 30px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        width: 45%;
        margin-bottom: 20px;

        p {
            color: #FFFFFF;
            font-weight: 600;
            font-size: 19px;
            line-height: 140%;
            text-transform: uppercase;
            padding-left: 30px;
            position: relative;
        }

        p:before {
            content: '';
            position: absolute;
            left: 0;
            width: 16px;
            height: 3px;
            background: #2F9D3A;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.welcomescreen__btn a {
    display: inline-block;
    background: linear-gradient(87.2deg, #FED66A 0%, #F5C43F 100%);
    box-shadow: 0px 8px 15px -8px rgba(247, 201, 74, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    padding: 24px 50px;
    transition: .3s;

    &:hover {
        filter: brightness(80%);
    }
}

// ADVANTAGES -------------------------------------//
.advantages {
    padding: 80px 0;
}

.advantages__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__col {
    max-width: 400px;
    width: 100%;
    display: flex;

    &+& {
        margin-left: 15px;
    }

    &-image {
        margin-right: 25px;

        img {
            width: 80px;
            background-size: cover;
        }
    }

    &-content {

        h2,
        h3,
        h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            padding-left: 30px;
            position: relative;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: #222222;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 3px;
                background: #2F9D3A;
            }
        }

        p {
            font-size: 16px;
            line-height: 140%;
            color: #424242;
        }
    }
}

//  TESTIMONIALS SECTION ---------------------------- // 
.testimonials {
    padding: 110px 0;
    background: #397659;
}

.testimonials__top {
    margin-bottom: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__title .section-title {
    color: #fff;

    &:before {
        background: #E8BD4B;
    }
}

.testimonials__arrows {
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .slider-arrow {
        background-image: url(../img/Arrow_slider.svg);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        width: 40px;
        height: 40px;

        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        transform: rotate(180deg);
    }
}

.testimonials__slider {

    .testimonials__slide {
        max-width: 580px;
        width: 100%;
        height: 420px;
        text-align: center;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../img/slide_bg_dots.svg);
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}

.testimonials__slide-img {
    height: 100%;

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.testimonials__descr {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    background: #2F644B;

    img {
        width: 50px;
        height: 50px;
        background-size: cover;
        margin-right: 30px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
    }
}

.testimonials__video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    iframe {
        width: 100%;
    }

    .video {
        position: relative;

        .video-poster {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            filter: brightness(50%);
        }

        .video-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            background-size: cover;
            z-index: 3;
            cursor: pointer;
            transition: .3s;

            &:hover {
                filter: brightness(60%);
            }
        }
    }

}




//  CONTACTS SECTION ---------------------------- // 
.contacts {
    padding: 110px 0;
}

.contacts__title {
    position: relative;
    margin-bottom: 60px;
}

.contacts__info {
    display: flex;
    align-items: center;
}

.contacts__info-col {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 0 15px;

    &:before {
        content: '';
        position: absolute;
        width: 270px;
        height: 130px;
        background-size: cover;
        background-image: url(../img/contact_col_bg.svg);
        background-size: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        height: 130px;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: #2F9D3A;
    }

    &:last-child:after {
        display: none;
    }

    p {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 25px;
        color: #222222;
    }
}

.contacts__info-field {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 232px;

    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #424242;
        margin-left: 8px;
        transition: .3s;
    }

    &:hover {
        a {
            opacity: 0.5;
        }
    }

    img {
        width: 16px;
        height: 16px;
    }

    &+& {
        margin-top: 12px;
    }
}

// POPUP ------------------------------------- //
.popup__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    backdrop-filter: blur(5.5px);
    background-color: rgba(0,0,0, .2);
    transition: .3s;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;
        .popup__body {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.popup__wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__body {
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: 100%;
    padding: 45px 70px;
    background-color: #fff;
    position: relative;
    transition: .1s;
    opacity: 0;
    transform: translateY(-10px);
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        filter: brightness(80%);
    }

    img {
        width: 40px;
        height: 40px;
        background-size: cover;
    }
}

.popup__title {
    margin-bottom: 40px;

    h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #222222;
    }
}

.popup__img {
    margin-bottom: 20px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.popup__form {
    p {
        font-weight: 600;
        font-size: 16px;
        line-height: 135%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #222222;
    }

    .twofield {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 48%;
        }
    }

    input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #DADADA;
        font-size: 16px;
        line-height: 135%;
        color: #434D59;
        padding: 14px 16px;
        margin-bottom: 25px;

        &::placeholder {
            line-height: 135%;
            color: #434D59;
            padding: 14px 16px;
            transition: .4s;
            padding: 0;
        }

        &:focus::placeholder {
            opacity: 0;
        }

        &:invalid+button {
            pointer-events: none;
            background: linear-gradient(0deg, #FFEBB4, #FFEBB4), linear-gradient(87.2deg, #FED66A 0%, #F5C43F 100%);
            box-shadow: 0px 8px 15px -8px rgba(247, 201, 74, 0.15);
        }
    }

    button {
        margin-top: 35px;
        height: 69px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(87.2deg, #FED66A 0%, #F5C43F 100%);
        box-shadow: 0px 8px 15px -8px rgba(247, 201, 74, 0.15);
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
        color: #717171;
        cursor: pointer;
        transition: .3s;

        &:hover {
            filter: brightness(80%);
        }
    }
}

//  RESPONSIVE ---------------------------------- //

@media (max-width: 1399.8px) {
    .testimonials__slider .testimonials__slide {
        height: 400px;
    }

    .contacts {
        padding: 80px 0 110px;
    }

    .advantages__col-content {

        h2,
        h3,
        h4 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    .advantages__col-image img {
        width: 75px;
    }

    .advantages__col-image {
        margin-right: 15px;
    }

    .welcomescreen__title h1 {
        font-size: 44px;
        margin-bottom: 40px;
    }

    .welcomescreen__descr li p {
        font-size: 16px;
        padding-left: 25px;
    }
}

@media (max-width: 1199.8px) {
    .testimonials__slider .testimonials__slide {
        height: 350px;
    }

    .contacts__info-field a {
        font-size: 15px;
    }

    .contacts__info-col p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .contacts__info-col:before {
        width: 220px;
        height: 106px;
    }

    .contacts {
        padding: 50px 0 90px;
    }

    .advantages {
        padding: 60px 0;
    }

    .advantages__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantages__col {
        margin: 0 0 40px;
        max-width: none;
        width: 45%;

        &:last-child {
            margin: 0;
        }
    }
}

@media (max-width: 991.8px) {
    .testimonials {
        padding: 80px 0;
    }

    .testimonials__top {
        flex-direction: column;
        align-items: start;
        margin-bottom: 50px;
    }

    .testimonials__arrows {
        margin: 0 0 0 auto;
    }

    .advantages__col+.advantages__col {
        margin-left: 0px;
    }

    .advantages__col-image img {
        width: 60px;
    }

    .advantages__col {
        width: 100%;
    }

    .welcomescreen__wrapper {
        max-width: 100%;
    }

    .welcomescreen__title h1 {
        font-size: 34px;
    }
}


@media (max-width: 767.8px) {
    .testimonials__descr {
        padding: 0 15px;

        img {
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }
    }

    .testimonials__descr p {
        font-size: 16px;
    }

    .contacts__info-col {
        width: 50%;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        &:after {
            display: none;
        }
    }

    .contacts__info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .welcomescreen__title h1 {
        font-size: 28px;
    }

    .welcomescreen__descr li p {
        font-size: 14px;
    }

    .welcomescreen__descr li {
        width: 48%;
        margin-bottom: 15px;
    }
}

@media (max-width: 575.8px) {
    .popup__form {
        .twofield {
            flex-wrap: wrap;

            input {
                width: 100%;
            }
        }
    }

    .popup__title {
        margin-bottom: 20px;

        h2 {
            font-size: 18px;
        }
    }

    .popup__form button {
        height: 60px;
        font-size: 14px;
    }

    .popup__body {
        padding: 35px 40px;
    }

    .testimonials {
        padding: 60px 0;
    }

    .testimonials__slider .testimonials__slide {
        height: 300px;
    }

    .contacts__info-col {
        width: 100%;
    }

    .advantages {
        padding: 50px 0;
    }

    .advantages__col-image img {
        width: 50px;
    }

    .advantages__col-content {

        h2,
        h3,
        h4 {
            font-size: 16px;
        }

    }

    .advantages__col {
        margin: 0 0 30px;
    }

    .advantages__col-content p {
        font-size: 14px;
    }

    .welcomescreen__title h1 {
        font-size: 22px;
    }

    .welcomescreen__btn a {
        width: 100%;
        padding: 20px;
    }

    .welcomescreen__descr li {
        width: 100%;
        margin-bottom: 10px;
    }

    .welcomescreen {
        min-height: 700px;
        padding-top: 35%;
    }
}

@media (max-width: 374.8px) {
    .testimonials__slider .testimonials__slide {
        height: 250px;
    }

    .popup__close {
        right: 10px;
        top: 15px;

        img {
            width: 25px;
            height: 25px;
        }
    }

    .popup__body {
        padding: 30px 20px;
    }

    .testimonials__descr p {
        font-size: 12px;
    }

    .testimonials__descr img {
        width: 35px;
        height: 35px;
    }

    .testimonials__top {
        margin-bottom: 30px;
    }

    .testimonials {
        padding: 50px 0;
    }
}